<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_group}">

<head>
    <meta charset="UTF-8">
    <title>Study Group</title>
</head>

<body>
    <div layout:fragment="index">
        <div class="custom-card">
            <h2 class="my-page-card-title">내가 만든 스터디</h2>
            <hr class="my-4">
            <p class="my-page-card-body">123</p>
        </div>
    </div>
</body>
</html>
