<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras-security"
	layout:decorate="~{layouts/default}">
	
	
  <main layout:fragment="index" class="d-flex justify-content-center align-items-center min-vh-100 pt-5">
    <div class="text-center">
      <a href="/login" class="btn btn-primary btn-lg">로그인</a>
      <a href="/join" class="btn btn-secondary btn-lg">회원가입</a>
    </div>
  </main>
  
  
  
</html>
